<!DOCTYPE html>
<html>
<head>
    <title> Elasticsearch Dashboard </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <style>html{font-family: 'PT Sans', sans-serif;}</style>
</head>

<body>
    {% block content %} {% endblock %}
</body>
</html>
