<!DOCTYPE html>
<html>
<head>
    <title> Elasticsearch Dashboard </title>
    <style>
	table {
	    border :1px solid;
	    border-color: gray;
	}
    </style>
</head>

<body>
    <h2> Elasticsearch Sinature Dashboard</h2>
    <h4>Select sinature display</h4>
    <ul>
	<li>
	    <p>signature 1</p> <select> <option>yes</option></select>
	</li>
	<li></li>
	<li></li>
    </ul>
    <table>
	<tr>
	    <th>STT</th>
	    <th>LOG NAME</th>
	    <th>SIGNATURE</th>
	    <th>ENABLE WARNING</th>
	</tr>
	<tr>
	    <td>1</td>
	    <td>Security</td>
	    <td>Alert</td>
	    <td>
		<select>
		    <option value="yes">yes</option>
		    <option value="no">no</option>
		</select>
	    </td>
	</tr>
    </table>
</body>
</html>
