<!DOCTYPE html>
<html>
<head>
    <title> Elasticsearch Dashboard </title>
</head>

<body>
    <h2> Elasticsearch Sinature Dashboard</h2>
    <select>
	<option value="">Sinature 1</option>
	<option value="">Sinature 1</option>
	<option value="">Sinature 1</option>
	<option value="">Sinature 1</option>
	<option value="">Sinature 1</option>
    </select>
    <table>
	<tr>
	    <th>STT</th>
	    <th>LOG NAME</th>
	    <th>SIGNATURE</th>
	    <th>ENABLE WARNING</th>
	</tr>
	<tr>
	    <td>1</td>
	    <td>Security</td>
	    <td>Alert</td>
	    <td>
		<select>
		    <option value="yes">yes</option>
		    <option value="no">no</option>
		</select>
	    </td>
	</tr>
    </table>
</body>
</html>
