<!DOCTYPE html>
<html>
<head>
    <title> Elasticsearch Dashboard </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <style>html{font-family: 'PT Sans', sans-serif;}</style>
</head>

<body ng-app="esApp">
    <h2> Elasticsearch Sinature Dashboard</h2>
    <div ng-controller="selectCtrl">
	{% if interval %}
	Last {{ interval/60 }}minute(s) <br />
	{% endif %}
	Get {{total}} document from index {{ search_index }} 
	    <form method='POST' action='/index'>
		{{ form.hidden_tag() }}
		<h4>
		    <select name="time-query" class="select-style">
			<option value="3600">Last 1 hour</option>
			<option value="900" selected>Last 15 minute</option>
		    </select>
		    <span> Select severity </span>
		    <select name="severity-query" class="select-style">
			<option value="0"> All</option>
			{% for i in range(7) %}
			<option value="{{i + 1}}">{{i + 1}}</option>
			{% set i = i+1 %}
			{% endfor %}
		    </select>
		    <button type="submit">Get data</button>
		</h4>
	    </form>
	    <h4>Select sinature display</h4>
	    <ul>
		{% for sig in signatures  %}
		<li>
		    <label class="checkbox_container">
			<input class="sinature_select" type="checkbox" name="{{sig['signature']}}">
			<span class="checkbox_value">{{ sig['count']}} hits :<b>{{sig['signature']}}</b> (Serverity {{ sig['severity']}} )</span>
			<span class="checkmark"></span>
		    </label>
		</li>
		{% endfor %}
	    </ul>
	    <table>
		<tr>
		    <th>STT</th>
		    <th>INDEX</th>
		    <th>TIMESTAMP</th>
		    <th>SIGNATURE</th>
		    <th>SERVERITY</th>
		    <th>SRC</th>
		    <th>DST</th>
		</tr>
		{% set i = 1 %}
		{% for hit in all_hits %}			
		<tr class="doc_row">
		    <td>{{i}}</td>
		    <td>{{ search_index }}</td>
		    <td>{{ hit['_source']['timestamp'] }}</td>
		    <td class="signature">{{ hit['_source']['alert']['signature'] }}</td>
		    <td>{{ hit['_source']['alert']['severity'] }}</td>
		    <td>{{ hit['_source']['src_ip'] }}:{% if hit['_source']['src_ip'] is defined %} {{ hit['_source']['src_port'] }} {% endif %}</td>
		    <td>{{ hit['_source']['dest_ip'] }}:{% if hit['_source']['src_ip'] is defined %} {{ hit['_source']['dest_port'] }} {% endif %}</td>
		</tr>
		{% set i= i+1%}
		{% endfor %}
	    </table>
	</div>
	<script type="text/javascript">
		$('.doc_row').hide();
		$(".sinature_select").on('change',function(){
			var self = $(this);
			var selectSignature = $(this).attr('name');
			console.log('selectSign = ' + selectSignature);
			$(".doc_row").each(function(index){
				var signature = $(this).children('td.signature').text();
				console.log('signature = ' + signature);
				if ( signature == selectSignature ) {
					console.log('===');
					if (self.is(':checked') == true){
						$(this).show();
					}
					else {
						$(this).hide();
					}
				}
			});		
		});
	</script>
</body>
</html>
